/* ########## Global Styles ########### */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
body {
    background-color: #9ED8DB;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
    background-color: #9ED8DB;
    margin-right: 25px;
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-template-areas: 
        "header header header ."
        "nav nav nav nav"
        "main main main sidebar-top"
        "main main main sidebar-bottom";
}

/* ########## Page Heading  ########### */

.page-heading {
    margin: 0;
    grid-area: header;
}

/* ########## Navbar ########### */

.navbar {
    background-color: #E9FFF9;
    grid-area: nav;
}

.site-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    font-size: 20px;
}

/* ########## Main tile ########### */

.main-tile {
    background-color: #E9FFF9;
    grid-area: main;
    padding: 20px;
}

/* ########## Sidebar top tile ########### */

.sidebar-top-tile {
    background-color: #E9FFF9;
    grid-area: sidebar-top;
    padding: 20px;
    height: 300px;
}
.sidebar-top-tile h3 {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px 0;
}
.sidebar-top-tile p {
    display: inline-block;
    justify-content: center;
    margin: 0 50px 30px 50px;
}
.sidebar-top-tile label{
    font-size: 20px;
}
.sidebar-top-tile input {
    width: 100%;
}
.sidebar-top-tile button {
    background-color: #E9FFF9;
    border: 2px solid #9ED8DB;
    padding: 5px;
    margin: 20px;

}

/* ########## Sidebar bottom tile ########### */

.sidebar-bottom-tile-centered {
    background-color: #E9FFF9;
    grid-area: sidebar-bottom;
    padding: 20px;
    height: 250px;
}
.sidebar-bottom-tile-centered .cost {
    font-size: 70px;
    text-align: center;
    padding: 30px;
}
